<style>
  
  main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
  }

  .angular-logo {
    max-width: 9.2rem;
  }

  .content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 700px;
    margin-bottom: 3rem;
  }


</style>

<main class="main">
  <div class="content">
    <app-date-picker [(value)]="selectedDate"></app-date-picker>
  </div>
</main>


<router-outlet />
